<img alt="webjeda footer" id="foomage" src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAYEBAQFBAYFBQYJBgUGCQsIBgYICwwKCgsKCgwQDAwMDAwMEAwODxAPDgwTExQUExMcGxsbHB8fHx8fHx8fHx//2wBDAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAFBkADAREAAhEBAxEB/8QAGQABAAIDAAAAAAAAAAAAAAAAAAUGBAcI/8QAFBABAAAAAAAAAAAAAAAAAAAAAP/EABkBAQADAQEAAAAAAAAAAAAAAAAEBgcDBf/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AIVcVIAAAAAAAAAAAAAAAAAAAAAAAASzO0AAAAAAAAAAAAAAAAAAAAAAAABhvecQAAAAAAAAAAAAAAAAAAAAAAAEYsbbQAAAAAAAAAAAAAAAAAAAAAAAFGV9UgAAAAAAAAAAAAAAAAAAAAAAAHWiIkAAAAAAAAAAAAAAAAAAAAAAAAK0xxoYAAAAAAAAAAAAAAAAAAAAAAADUK/J4AAAAAAAAAAAAAAAAAAAAAAAD//Z">

<footer id="site-footer">
 
   <div class="column-left">
        <div class="built">
            <p>All rights reserved by <span class="hint--top hint--bounce" data-hint="Business website"><a href="http://webjeda.com" target="_blank" >{{site.copyrights-owner}}</a></span></p>
        </div>
   </div>

   <div class="column-center">
    
       <a class="" href="http://webjeda.com" target="_blank"><img alt="built by webjeda" width="110px" height="20px" id="footer-logo" src="/img/built-by-webjeda.svg"></a>  
        
  
   </div>
   
   
   <div class="column-right">

         <div id="footer-icons"> 
              <span class="hint--top hint--bounce" data-hint="facebook"><a href="{{ site.facebook }}" target="_blank" ><i class="footer-icon fa fa-facebook-official fa"></i></a></span>
              <span class="hint--top hint--bounce" data-hint="twitter"><a href="{{ site.twitter }}" target="_blank" ><i class="footer-icon fa fa-twitter fa"></i></a></span>
              <span class="hint--top hint--bounce" data-hint="Proudly hosted on github"><a href="{{ site.github}}" target="_blank" ><i class="footer-icon fa fa-github-alt fa"></i></a></span>
                  <span class="hint--top hint--bounce" data-hint="youtube"><a href="{{ site.youtube }}" target="_blank" ><i class="footer-icon fa fa-youtube fa"></i></a></span>
                  <span class="hint--top hint--bounce" data-hint="email"><a href="{{ site.email }}" id="promail" ><i class="footer-icon fa fa-envelope fa"></i></a></span>
                  <span class="hint--top hint--bounce" data-hint="feedly"><a href="{{ site.feedly }}" target="_blank"><i class="footer-icon fa fa-rss fa"></i></a></span>
                  
        </div>

  </div>
       
    
</footer>
