<footer id="site-footer">
 <div class="foot-wrap clear">
  
   <div class="column-left">
        <div class="built">
            <p>All rights reserved by <span class="hint--top hint--bounce" data-hint="Business website"><a href="http://webjeda.com" target="_blank" >WebJeda</a></span></p>
        </div>
   </div>

   <div class="column-center">
  
        <div id="footer-icons"> 
              <span class="hint--top hint--bounce" data-hint="facebook"><a href="{{ site.facebook }}" target="_blank" ><i class="footer-icon fa fa-facebook-official fa"></i></a></span>
              <span class="hint--top hint--bounce" data-hint="twitter"><a href="{{ site.twitter }}" target="_blank" ><i class="footer-icon fa fa-twitter fa"></i></a></span>
              <span class="hint--top hint--bounce" data-hint="github"><a href="{{ site.github}}" target="_blank" ><i class="footer-icon fa fa-github-alt fa"></i></a></span>
                  <span class="hint--top hint--bounce" data-hint="youtube"><a href="{{ site.youtube }}" target="_blank" ><i class="footer-icon fa fa-youtube fa"></i></a></span>
                  <span class="hint--top hint--bounce" data-hint="email"><a  id="promail" ><i class="footer-icon fa fa-envelope fa"></i></a></span>
                  <span class="hint--top hint--bounce" data-hint="feedly"><a href="{{ site.feedly }}" target="_blank"><i class="footer-icon fa fa-rss fa"></i></a></span>
                  
        </div>

<script>
    var emailid =  document.getElementById('promail');
    emailid.setAttribute('href', 'mailto:' + 'hello' + '@' + 'webjeda' + '.' + 'com');
</script>
  
  
   </div>
   
   
   <div class="column-right">
           
            <form rel="nofollow" id="donate-form" target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
                    <input type="hidden" name="cmd" value="_cart">
                    <input type="hidden" name="business" value="sharu725@gmail.com">
                    <input type="hidden" name="lc" value="IN">
                    <input type="hidden" name="item_name" value="webjeda-donations">
                    <input type="hidden" name="item_number" value="wj">
                    <input type="hidden" name="amount" value="1.00">
                    <input type="hidden" name="currency_code" value="USD">
                    <input type="hidden" name="button_subtype" value="products">
                    <input type="hidden" name="no_note" value="0">
                    <input type="hidden" name="tax_rate" value="0.000">
                    <input type="hidden" name="shipping" value="0.00">
                    <input type="hidden" name="add" value="1">
                    <input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_LG.gif:NonHostedGuest">
                    <span class="hint--top hint--bounce hint--success" data-hint="I would appreciate it!">
                    <input type="image" src="/img/Buy-me-a-coffee.svg" border="0" name="submit" alt="PayPal – The safer, easier way to pay online."></span>
                    
            </form>
  
  </div>
 </div>
       
    
</footer>
