html {
 font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
 text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
 background-color: #FFF;
 height: 100%;
 box-sizing: border-box;
}


::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 5px;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #34495e;
}
::-webkit-scrollbar-track {
    background-color: #EEE;
}

h1, h2, h3, h4, h5, h6 {

  font-weight: 400;
  color: #313131;
  letter-spacing: -.025rem;
}


/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

p {
    font: 1.4em/1.6 $base-font-family;
    color: #333;
    text-rendering: optimizeLegibility;
    margin-bottom: 2em;
    background: transparent;
}



h2 {
    font-size: 2em;
    font-weight: 600;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
}
/**
 * Basic styling
 */
body {
    /* font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family; */
    color: $text-color;
    background-color: #FFF;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    height: 100%;
    margin:0;
    padding:0;
    border:none;
   
    
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6{
    margin-bottom: 0.625em;
}

blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: 2em;
    line-height: 1.5em;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
    margin-bottom: 2em;

}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}


/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

.main-content {
    padding: 4% 2% 4% 2%;
    background-color: #fff;
}


/**
 * Code formatting
 */
pre,
code {
 
    font-size: 15px;
    border: 1px solid $brand-color;
    border-radius: 3px;
    background-color: transparent;
    display: inline-block;
    max-width: 100%;
    text-shadow: 0px 1px 1px;

   
}


code {
    padding: 0px 5px;

}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}





#post-title {
    font-family: sans-serif;
    font-size: 4em;
    font-family: inherit;
    font-weight: 600;
    letter-spacing: -1px;
    text-align: center;
    color: $brand-color;
    -webkit-transition-delay: 0.2s;
    transition-duration: 0.2s;
    transition-property:all;
}

#post-title:hover {
    color: $highlight-color;
}

strong, b {
        font-weight: 600;
        letter-spacing: 1px;
}



@include media-query($on-palm) {

    p {
    font-size: 1.3em;
    font-weight: 300;
    color: #404040;
    text-rendering: optimizeLegibility;
    }
    
    h2 {
    font-size: 1.5em;
    }

    h3 {
    font-size: 1.4em;
    font-weight: 600;
    }
    
    p, blockquote, pre, ul, ol, dl, figure, %vertical-rhythm {
    margin-bottom: 1em;
    }
    
    img {
    margin-bottom: 1em;
   }
    
   .main-content {
    padding: 2% 1% 2% 1%;
    background-color: #fff;
    } 
    
    #post-title {
       font-size: 2em;
    }
    
    pre, code {
        
        max-width: 92%;
    }
    
}
