.news {
    margin:0 auto;
    max-width: 90%;
    margin-top: 1em;
    text-align: center;
}



.news-img {
    border: 1px solid #000;
    margin: 0;
}

.site-header {
 padding-left: 2em;
 padding-bottom: 0em;
 padding-top: 0.625em;
 padding-right: 1em;    
}



.site-nav {
    display: inline-block;
    margin-left: 2em;
    z-index: 999;
    margin-top: 1em;
   

    .menu-icon {
        display: none;
    }

    .page-link {
        font-family: sans-serif;
        color: #828282;
        font-size: 1.2em;
        font-weight: 100;
        line-height: $base-line-height;
        padding: 5px;
        margin-right: 0.625em;

}

    .page-link:hover{
           color: #333;           
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 1em;
        right: 1em;
        background-color: $background-color;
        border: 1px solid #4183D7;
        border-radius: 4px;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: #4183D7;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

/*             &:not(:last-child) {
                margin-right: 0;
            } */
            margin-left: 20px;
        }
    }
}

.page-content {
    margin: 0 auto; 
    max-width: 75%; 
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    -webkit-transition-delay: 0.1s; /* Safari */
    transition-duration: 0.1s;
    transition-property: all;   
}


.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}



#mainbox{
  font-family: inherit;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
  margin-top: 3em;
}


.card{
    width: 300px;
    box-shadow: 0px 0px 1px #777;
    border-radius: 2px;
    margin: 20px;
    text-align: center;
    opacity: 0.9;
    transition: 0.2s ease-in;
}

.card:hover {
    box-shadow: 0px 0px 15px #aaa;
    opacity: 1;
}


.card h6 {
    color: #777;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
}


.card-footer {
    padding: 5px;
    margin: 0;
    border: none;
}

img.post-image-index {
        margin-bottom: 0;
}

.post-excerpt {
    font-family: sans-serif;
    font-size: 1em;
    margin-bottom:0;
    color: #8C8C8C;
    margin-top: 0.5em;
        
}

.post-index-title {
    border-bottom: 1px solid #eee;
    margin-left: -5px;
    margin-right: -5px;
    padding-bottom: 0.5em;
    color: #383838;
    font-size: 1.1em;
}


@include media-query($on-palm) {

       .page-content {
        margin: 0 auto; 
        max-width: 96% !important; 
       }
    
        .card{
        opacity: 1;
         }
    
}

.navi {
    padding: 5px;
    font-weight: 600;
}

img#foomage {
    margin-bottom: 1em;
    margin-top: 1em;
}



img#logo  {
    margin-top: 0.625em;
    vertical-align: initial;
    margin-bottom: 0;
}



a {
    color: $brand-color;
    text-decoration: none;
    -webkit-transition-delay: 0.1s; /* Safari */
    transition-duration: 0.1s;
    transition-property:all;

    &:hover {
        color: $highlight-color;
        text-decoration: none;
    }
}