---
layout: compress
---
<!DOCTYPE html>
<html>
          {% include head.html %}
    <body>
             <div id="top"></div>
            {% include header.html %}
                {{ content }}         
             {% include footer-1.html %}



<script async="async" src="/js/css-def.js"></script>

 {% include analytics.html %}
 
 <script>window.onload=function(){setTimeout(function(){var a=document.querySelector("ins.adsbygoogle");a&&0==a.innerHTML.replace(/\s/g,"").length&&(a.style.cssText="display:block !important; visibility:visible !important;text-decoration:none !important;font-family: inherit;font-size: 1.25em;color: #e00;",a.innerHTML="You seem to have an Adblock running. Ads are not cool but they keep my website runnning. I would really appreciate if you could whitelist my website in Adblock or buy me a cup of coffee!")},
2000)};</script>
 
  </body>
</html>